<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notas - HLC </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notas - HLC</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Actividad</ion-label>
  <ion-input [(ngModel)]="notaEditando.actividad"></ion-input>

  <ion-label>Calificación</ion-label>
  <ion-input [(ngModel)]="notaEditando.calificacion"></ion-input>

  <ion-button (click)="clickBotonInsertar()">Añadir nota</ion-button>
  <ion-button (click)="clickBotonBorrar()">Borrar nota</ion-button>
  <ion-button (click)="clickBotonModificar()">Modificar nota</ion-button>

  <h1>LISTA DE NOTAS 23/24</h1>
  <ion-list>
    <ion-item *ngFor="let documentNota of arrayColeccionNotas" (click)="selecNota(documentNota.id, documentNota.nota)">
      <ion-grid>
        <ion-row>
          <h2>{{ documentNota.nota.actividad }}</h2>
        </ion-row>
        <ion-row>
          <p>{{ documentNota.nota.calificacion }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
